.rw-record {
  border: 1px solid #ddd;
  border-radius: 3px;
  border-collapse: separate;

  &__tbody {
    display: block;
    overflow-x: scroll;
    max-width: 740px;
  }

  th, td {
    white-space: nowrap;
  }

  &__name {
    padding-right: 1em;
    padding-left: 1em;
    background-color: #eee;
  }

  &__weight {
    padding-right: .5em;
    padding-left: 1em;
  }

  &__reps {
    padding: 1em 1em 1em .5em;
  }

  &__rep {
    @extend .rw-btn-reflect;
    cursor: auto;

    &:hover {
      background-color: inherit;
    }
  }
}

.rw-trash {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  vertical-align: sub;
  background: url("/assets/images/trash.png") center no-repeat;
  cursor: pointer;
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}
