@import "primer-css/scss/primer.scss";

body {
  color: #444;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
}

h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

.rw-container {
  @extend .centered;
  width: 800px;
  padding-right: 10px;
  padding-left: 10px;
}

.rw-logo {
  color: inherit;
}

.rw-main {}

.rw-section {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.rw-menu {
  display: flex;

  &__link {
    @extend .filter-item;
    flex: 1;
    margin-bottom: 10px;
    padding-top: 280px;
    font-size: 24px;
    color: inherit;
    text-align: center;
    border: 1px solid #ddd;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &--add {
      background: url("img/record.png") no-repeat center 10px;
    }

    &--confirm {
      background: url("img/chart.png") no-repeat center 10px;
    }
  }
}

.rw-btn-select {
  @extend .btn;
  background-image: none;

  &:hover {
    background-image: none;
  }

  &:active {
    box-shadow: none;
  }

  :checked + & {
    color: #ddd;
    background-color: #444;
    border-color: #666;
  }
}

.rw-btn-reflect {
  @extend .btn;
  background-color: transparent;
  background-image: none;

  &:hover {
    background-color: #eee;
    background-image: none;
  }

  &:active {
    box-shadow: none;
  }
}

.rw-btn-submit {
  @extend .btn;
  @extend .btn-primary;
  background-color: lighten(#60b044, 4%);
  background-image: none;

  &:hover {
    background-color: lighten(#569e3d, 2%);
    background-image: none;
  }
}

.rw-record {
  border: 1px solid #ddd;
  border-radius: 3px;
  border-collapse: separate;

  &--centered {
    margin-right: auto;
    margin-left: auto;
  }

  &__tbody {
    display: block;
    overflow-x: scroll;
    max-width: 740px;
  }

  &__row:not(:last-child) {
    th, td {
      border-bottom: 1px solid #ddd;
    }
  }

  th, td {
    white-space: nowrap;
  }

  &__name {
    padding-right: 1em;
    padding-left: 1em;
    background-color: #eee;
  }

  &__weight {
    padding-right: .5em;
    padding-left: 1em;
  }

  &__reps {
    padding: 1em 1em 1em .5em;
  }

  &__rep {
    @extend .rw-btn-reflect;
    cursor: auto;

    &:hover {
      background-color: inherit;
    }
  }
}

.rw-panel {
  padding: 1em 2em;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.rw-footer {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 16px;
  color: #999;
  text-align: right;
}




















